<!-- Program Carousel -->
<section id="section2">
<!--    <slick data="programList" class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=10 slides-to-scroll=10 id="programCarousel" tabindex="4">
        <div class="innerCarouselDiv" ng-repeat="program in programList track by $index"><a ui-sref=".programInfo({pid: program.Programs['ProgramId']})" class="programCarousel">{{ program.Programs["Title"] }}</a></div>
    </slick>-->

    <div slick-slider="{dots: false, arrows: false, draggable: false, slidesToShow:5, infinite:false}">
        <div class="my-slide" ng-repeat="program in programList track by $index">
            <a ui-sref=".programInfo({pid: program.Programs['ProgramId']})" class="programCarousel">{{ program.Programs["Title"] }}</a>
        </div>
    </div>
</section>


<div ui-view></div>