<section id="section3">
    <div class="col-md-6">
         <div class="list-group">
            <a href="#" class="list-group-item active">
               <h2 class="list-group-item-heading">Info</h2>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Title: {{programInfo.Title}}</p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Category: {{programInfo.Category}}</p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">Duration: {{programInfo.Duration}}</p>
            </a>
            <a href="#" class="list-group-item">
                <p class="list-group-item-text">AiringTime: {{programInfo.AiringTime}}</p>
            </a>
            <a href="#" class="list-group-item">
                <button class="btn btn-primary btn-lg btn-block">Tweet</button>
            </a>
         </div>
    </div>

    <div class="col-md-6">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <img src="http://ia.media-imdb.com/images/M/MV5BMjAzMzM3OTk2MV5BMl5BanBnXkFtZTgwMzA3NzM3NDE@._V1_SX640_SY720_.jpg" width="100%" />
            </a>
        </div>
    </div>
</section>