<!-- Contact Us Page
     Fields:
        1. First Name
        2. Last Name
        3. Email
        5. Message
        6. Captcha

 Example: https://gist.github.com/miguelmota/9895759
-->
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="alert alert-danger" ng-show="error">
        <button class="close" data-dismiss="alert">x</button>
        <strong>Error!</strong> An error occured while trying to send message.
    </div>
    <div class="alert alert-success" ng-show="success">
        <button class="close" data-dismiss="alert">x</button>
        {{$scope.success}}
        <strong>Success! </strong> Your message was successfully sent.
    </div>
    <form role="form" name="contactUsForm">
        <div class="form-group" ng-class="{error: contactUsForm.fname.$invalid}">
            <label>First Name</label>
            <input class="form-control" type="text" name="name" ng-model="user.fname" required="required" placeholder="First Name">
            <span class="help-block" ng-show="contactUsForm.fname.$error.required">Required</span>
        </div>
        <div class="form-group" ng-class="{error: contactUsForm.lname.$invalid}">
            <label>Last Name</label>
            <input class="form-control" type="text" name="lname" ng-model="user.lname" required="required" placeholder="Last Name">
            <span class="help-block" ng-show="contactUsForm.lname.$error.required">Required</span>
        </div>
        <div class="form-group" ng-class="{error: contactUsForm.email.$invalid}">
            <label>Email</label>
            <input class="form-control" type="email" name="email" ng-model="user.email" required="required" placeholder="Email Address">
            <span class="help-block" ng-show="contactUsForm.email.$error.required">Required</span>
            <span class="help-block" ng-show="contactUsForm.email.$error.email">Invalid email address</span>
        </div>
        <div class="form-group" ng-class="{error: contactUsForm.message.$invalid}">
            <label>Message</label>
            <textarea class="form-control" rows="5" name="message" ng-model="user.message" required="required" placeholder="Messsage"></textarea>
            <span class="help-inline" ng-show="contactUsForm.message.$error.required">Required</span>
        </div>
        <button class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactUsForm.$invalid">Send</button>
    </form>
</div>