/* Overriding */
body {
    background-color: transparent !important;
}

.navbar-default {
    opacity: .7;
}

.slick-slider {
    padding: 10px 0 10px 20px;
}


.slick-slider a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.programInfo {
    background: #fff;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
}

.overlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    background: #ffffff;
    background-size: cover;
    opacity: .5;

}

/*---- THEME : BLUE ----*/
.navbar-default {
    background-color: #279ddd;
    color: #fff;
    opacity: 1;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffffff;
    background-color: #0B73AB;
}

#section1 {
    background-color: #168ccc;
    color: #dedeff;
    /*padding: 5px 0;*/
    border-radius: 4px;
}

#section2 {
    background-color: #5F5F5F;
    color: #686868;
/*    padding: 5px 0;*/
    border-radius: 4px;
    margin-top: 4px;
}

#section3 {
    margin-top: 10px;
}

#channelCarousel, #programCarousel {
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
}

.innerCarouselDiv a {
    color: #5A5757;
}

.innerCarouselDiv a:hover {
    color: #c52d2f;
}
.col-md-6 {
    padding-left: 0;
}